{% load static %}
<link href="{% static '/css/style.css' %}" rel="stylesheet" type="text/css">
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Yunus Emre Karakuş</title>



    <!-- Bootstrap core CSS -->
    <link href="{% static '/css/top.css' %}" rel="stylesheet">
    <link href="{% static '/css/topbar.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static '/css/style.css' %}" rel="stylesheet">
  </head>

  <body>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <a href="http://127.0.0.1:8000/" title=""><h5 class="my-0 mr-md-auto font-weight-normal"><img src="{% static 'media/logo_yek2.png ' %}", width="90" , height="35"><a href="http://127.0.0.1:8000/"></a></h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="http://127.0.0.1:8000/">About</a>
        <a class="p-2 text-dark" href="http://127.0.0.1:8000/projects">Projects</a>
        <a class="p-2 text-dark" href="http://127.0.0.1:8000/contact">Contact</a>
        <a class="p-2 text-dark" href=http://127.0.0.1:8000/blog>Blog</a>
      </nav>
    </div>