{% extends 'layout.html'%}
{% include 'partials/_topmenu.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}" />
<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
    <div class="post mx-5 rounded">
        {% if post.created_on %}
            <div class="date">
            </div>
        {% endif %}
        <h1 class="mx-3 mb-0">{{ post.title }}</h1>
        <br>
        <p class="mx-3">{{ post.content|linebreaksbr }}</p>
        <footer class="blockquote-footer mx-3 mt-3">{{ post.author }}</footer>
        <p class="btn btn-success rounded-pill btn btn-sm mx-3 mt-0"> {{ post.categories }} </p>
    </div>
{% endblock %}